<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Navbars</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #2c3e50;
      background: #ecf0f1;

    }
    .navbar-inverse {
      background: #2c3e50;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    } 

  </style>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> IMGS</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>

          <li><a href="#">Select Location <input type="text" name="location" id="location" placeholder="London" required />
          
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('search') }}">Submit</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
				</ul>
			</div>
		</div>
	</nav>

  <div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro"></i></span> Where to go?... </h1>
    <p>Click on the images for some info!</p> 
  </div>

    <div class="row">
      <p>
        <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://media.architecturaldigest.com/photos/56e877266836c03a28818255/master/w_640,c_limit/london-architectural-landmarks-07.jpg" style="width:100%"></button>
        </div>
      </div>
            <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://i.pinimg.com/originals/6f/4e/e9/6f4ee96db39dc7e729ce24d256aa6033.jpg" style="width:100%"></button>
        </div>
      </div>
        <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://cdn.newsapi.com.au/image/v1/a0cce664240a4ebdc1c7bbc2e358040e?width=1024" style="width:100%"></button>
        </div>
      </div>
        <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://cdn-images-1.medium.com/max/800/0*0G0qErXVYalRPPnJ.jpg" style="width:100%"></button>
        </div>
      </div>
        <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://www.touropia.com/gfx/d/tourist-attractions-in-rome/trevi_fountain.jpg?v=01e2399fd4eb430624fb1ad74ddb1060" style="width:100%"></button>
        </div>
      </div>
        <div align="center" class="thumbnail">
          <button onclick="myFunction()"><img src="https://media.blogto.com/slide-shows/images/d7e5c67f-58c7-4759-8059-3d338d61d794_cuBonUt.jpg?quality=70&w=2184" style="width:100%"></button>
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>