<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div class="post">
	 
	<div class="date">Visit London</div>
	<h2>Some tourist info</h2>

	<p class="quote">
	London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations. Across the Thames River, the London Eye observation wheel provides panoramic views of the South Bank cultural complex, and the entire city.
	</p>

	<h2>The Changing of the Guard</h2>
	<p>
	One of Britain's most iconic buildings, Buckingham Palace is also the scene of London's most popular display of pomp and circumstance, the Changing of the Guard. Drawing crowds at 11:30am in every season, this colorful and free display of precision marching and music also takes place at St. James's Palace where you can follow the band along The Mall as they march between sites.

Buckingham Palace was built in 1837 and has been the London residence of the Royal Family since Queen Victoria's accession. If you're wondering whether the Queen is in, look at the flagpole atop the building: if the royal standard is flying day and night, she's at home. On special state occasions, she and members of the Royal Family may even emerge on the central balcony.

When she's away at her summer palace in Scotland, visitors can purchase tickets for tours of the State Rooms, the Queen's Gallery, and the Royal Mews. One of the best ways to tour the palace, see the Changing of the Guard, and experience a traditional afternoon tea, is on a 4.5-hour Buckingham Palace Tour Including Changing of the Guard Ceremony and Afternoon Tea. This tour is a very efficient way of seeing the highlights in a short period of time, and having a knowledgeable guide to explain the history makes the whole experience that much more enjoyable and relevant for first time visitors.
	</p>
	<hr>
</div>

</body>
</html>