<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div class="post">
     
    <div class="date">Visit Rome</div>
    <h2>Some tourist info</h2>

    <p class="quote">
    Rome, Italy’s capital, is a sprawling, cosmopolitan city with nearly 3,000 years of globally influential art, architecture and culture on display. Ancient ruins such as the Forum and the Colosseum evoke the power of the former Roman Empire. Vatican City, headquarters of the Roman Catholic Church, has St. Peter’s Basilica and the Vatican Museums, which house masterpieces such as Michelangelo’s Sistine Chapel frescoes.
    </p>

    <h2>Things to do in Rome </h2>
    <p>
     The Baths of Caracalla, the second largest public baths in Rome, were built by Emperor Caracalla in the third century for political propaganda purposes: The emperor simply wanted people to like him. The baths were functional for over three hundred years. Negligence, looting and an earthquake turned the complex into ruins but their sheer size and ingenuity continues to impress visitors.

     The Appian Way is the most famous ancient road in Rome, connecting the city with Brindisi in southeastern Italy. Named after Appius Claudius Caecus, a Roman censor, it was originally a military road. Many historical monuments can be found along the first 8 km (5 miles) of the 560 km (350-mile) stone road today. This old highway has heavy vehicle traffic at the beginning, but is safe for pedestrians after a couple of miles.
    </p>
    <hr>
</div>

</body>
</html>