<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div class="post">
     
    <div class="date">Visit Sydney</div>
    <h2>Some tourist info</h2>

    <p class="quote">
    Sydney, capital of New South Wales and one of Australia's largest cities, is best known for its harbourfront Sydney Opera House, with a distinctive sail-like design. Massive Darling Harbour and the smaller Circular Quay port are hubs of waterside life, with the arched Harbour Bridge and esteemed Royal Botanic Garden nearby. Sydney Tower’s outdoor platform, the Skywalk, offers 360-degree views of the city and suburbs.
    </p>

    <h2>Things to do in Sydney </h2>
    <p>
    Sydney is a gleaming cosmopolis, a city surrounded and defined by seawater. Water taxis and ferries supplement buses, threading the cobalt waters of Sydney Harbour, a long finger stretching west to characterful inland suburbs. The distinctive Opera House and Harbour Bridge, and the historic, hilly Rocks area punctuate a waterfront CBD (central business district) that’s home to a lively cafe culture, art galleries, green spaces, food markets and skyline bars. Meanwhile, on the coast, beach communities such as Bondi and Manly are the cradle of an outdoorsy, active and yet laid-back lifestyle that has become the quintessential Australian identity.
    </p>
    <hr>
</div>

</body>
</html>
