<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div class="post">
     
    <div class="date">Visit Thailand</div>
    <h2>Some tourist info</h2>

    <p class="quote">
    Thailand is a Southeast Asian country. It's known for tropical beaches, opulent royal palaces, ancient ruins and ornate temples displaying figures of Buddha. In Bangkok, the capital, an ultramodern cityscape rises next to quiet canalside communities and the iconic temples of Wat Arun, Wat Pho and the Emerald Buddha Temple (Wat Phra Kaew). Nearby beach resorts include bustling Pattaya and fashionable Hua Hin.
    </p>

    <h2>Things to do in Thailand </h2>
    <p>
    Thailand is a renowned beach destination, but our specialists know there’s far more to it than its palm-fringed sands. Having journeyed the breadth of the country, they can advise you on the best places to visit, based on your preferences, to get the most out of your holiday to Thailand.

Inland, you’ll find temples in the shape of Isaan’s Khmer complexes and the UNESCO-protected ancient capital of Siam at Sukhothai as well as, from more recent history, the Bridge on the River Kwai. National parks foster elephants and gibbons, and hills preserve rich tribal cultures. There are also the cities, which provide a route into exploring Thailand’s food, such as the street markets in Chiang Mai and cooking classes in Bangkok. Along the coast, you’ll find sleepy villages where you can watch local fishermen bringing in the day’s catch, while limestone islands rising from the sea make the focal points for rewarding cruises.
    </p>
    <hr>
</div>

</body>
</html>